JWT_SECRET=escolha-uma-chave-secreta-aqui
JWT_EXPIRES_IN_SECONDS=1500

DB_HOST=name-do-seu-banco-de-dados
DB_PORT=porta-do-seu-banco-de-dados
DB_NAME=nome-do-seu-banco-de-dados
DB_USER=nome-do-usuario-do-seu-banco-de-dados
DB_PASSWORD=senha-do-usuario-do-seu-banco-de-dados

LOCAL_UID=id-do-usuario-local
LOCAL_GID=id-do-grupo-local